
.people {
  margin-top: 30px;
  display: grid;
  grid-template-columns: repeat(2, 200px);
  gap: 40px 30px;
  justify-content: center;

  @media (min-width: 1000px){
    grid-template-columns: repeat(4, 200px);
  }
}

.person {
  height: 231px;

  &:hover {
      
      background-color: #EEEEEE;
      border-radius: 10px;

      .extra {
        visibility: visible;
      }
    }

  &__photo {
    width: 200px;
    height: 200px;
    position: relative;
    
    img {
    border-radius: 200px;
    width: 200px;
    height: 200px;
    }
  }

  &__rank {
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 200px;
    background-color: white;
    align-self: center;
    text-align: center;
    line-height: 32px;
    color: #8B0000;
    right: 10px;
    top: 84px;
  }
}

.extra {
  visibility: hidden;
  padding-top: 9px;
  padding-bottom: 16px;

  &__pay::before {
    content: ', $';
}

  &__pay::after {
    content: 'M';
}
}

.details {
  text-align: center;
  padding-top: 8px;

  &__name {
  color: #2F4F4F;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 20px;
  }
}


